@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Lunasima:wght@400;700&family=Oswald:wght@300;400;500;600;700&display=swap");

:root {
  color-scheme: light dark;
  --oswaldfont: "Oswald", sans-serif;
  --belonosima: "Belanosima", sans-serif;
  --lunosima: "Lunasima", sans-serif;
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark-blue: #010217;
  --white: #ffffff;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-blue);
  color: var(--white);
}
a {
  font-weight: 500;
  text-decoration: none;
}
* {
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
}

/*-------- navbar styles --------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  letter-spacing: 0.5px;
  z-index: 1000;
  padding: 1rem 7% 0.5rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue);
}
.logo a img {
  color: var(--white);
  width: 2.5rem;
}
.btn a {
  background-color: var(--white);
  color: var(--dark-blue);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  transition: 0.4s ease;
}

/*-------- reuserble  styles --------*/
.padding {
  padding: 3rem 7%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.gap {
  gap: 2.5rem;
}
.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.item {
  padding: 1rem 0rem;
  flex: 1 1 25rem;
}
.align-center {
  text-align: center;
}
/*-------- home styles --------*/
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: url("../src/assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
}

h1 {
  opacity: 0.7;
  line-height: 120px;
  font-weight: 900;
  font-family: var(--oswaldfont);
  font-size: 7rem;
}
.web-developer {
  font-size: 5rem;
}
.hello-there {
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.hand-wave {
  font-size: 2rem;
  margin-right: 1rem;
}
/*-------- personal introduction styles --------*/
.personalintroduction {
  padding: 2rem 7% 0rem 7%;
}
.aboutme-section,
.skills-section {
  flex: 1 1 20rem;
}
.aboutme-section {
  max-width: 600px;
}
.aboutme-section p {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
}
.skills {
  max-width: 100%;
}
.skills img {
  max-width: 100%;
}

/*-------- projects styles --------*/
.project {
  padding-top: 2rem;
}
.project-details {
  margin: 1.5rem 0rem;
}
.title {
  font-size: 2.2rem;
  margin: 1rem 0rem;
}
.title a {
  color: var(--white);
  font-weight: bold;
  font-size: 2.2rem;
}
.project-image {
  max-width: 100%;
}
.project-image a img {
  max-width: 100%;
  overflow: hidden;
}

/*-------- foooter styles --------*/
.footer {
  padding: 0rem 7% 2rem 7%;
  align-items: center;
  justify-content: space-between;
}
.designed-section {
  display: flex;
  font-size: 1rem;
  max-width: 350px;
  margin: 2rem 0rem;
}
.blue-line {
  width: 50px;
  height: 3px;
  margin-right: 0.8rem;
  background-color: var(--white);
}
.icons-container {
  display: flex;
  align-items: center;
}
.icons a {
  color: var(--white);
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1.8rem;
  transition: 0.3s ease-in;
}
.icons a:hover {
  color: var(--light-blue);
}

/*-------- media queries responsive styles --------*/
@media screen and (max-width: 1000px) {
  h1 {
    line-height: 80px;
    font-size: 4rem;
  }
  .web-developer {
    font-size: 3rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  .hand-wave {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .aboutme-section p {
    font-size: 1rem;
  }
}
